nav.navbar.navbar-expand-sm.bg-dark
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='login') Login
        li.nav-item
          a.nav-link(href='signUp') Sign up