<!DOCTYPE html>
<html>
<head>
	<title>Signup in the system</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body style="  background: linear-gradient(-90deg, black, white);">
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="home.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="Login.html">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="Signup.html">Sign up</a>
			</li>
		</ul>
	</nav>
	
	<form style="padding-top: 200px ;padding-left: 400px">
		<h4><span class="label label-info">Name :</span></h4>
		<input id="Name" type="text" name="Name" class="form-control col-sm-6" placeholder="Name">
		<h4><span class="label label-info">Username :</span></h4>
		<input id="Username" type="text" name="Username" class="form-control col-sm-6" placeholder="Username">
		<h4><span class="label label-info">Email :</span></h4>
		<input id="Email" type="text" name="Email" class="form-control col-sm-6" placeholder="Email">
		<h4><span class="label label-info">Password :</span></h4>
		<input id="Password" type="text" name="Password" class="form-control col-sm-6" placeholder="Password">
		<button type="button" class="btn btn-primary ">Submit</button>
	</form>
	
</body>
</html>